In [69]:
import os
import pandas as pd
import numpy as np
import glob
from import_data import data
import matplotlib.pyplot as plt
import seaborn as sns

In [212]:
#%%
input = 'Input//'
output = 'Output//'
rawdata = 'Input//Rawdata//'
adjust_rawdata = 'Input//Adjust_rawdata//'
graph = 'visualization//'
graph_v = 'visualization//variable//' 
# os.mkdir(input)
# os.mkdir(output)
# os.mkdir(rawdata)
# os.mkdir(adjust_rawdata)
# os.mkdir(graph)
# os.mkdir(graph_v)

## define_label

In [213]:
### gender
df['gender'] = df['gender'].replace({'ชาย':'male','หญิง':'female'})

In [216]:
df_na = df[df.isnull().any(axis=1)]
df_na.isnull().sum()
# df[df['religion Name'].isna()]

appl No                  0
id No                    0
Age                    351
gender                   6
religion Name          351
Country                351
education              352
marital Sts            351
occ Desc TH            448
occ Type Desc TH       826
pos Desc TH            381
bus Typ ISICName       381
src Inc                374
Wrk Year               379
pgm Secure               0
ADR01Home Own Typ      699
ADR01Home Owner        465
รายได้สุทธิต่อเดือน    803
term                   437
dtype: int64

## Graph

In [237]:
## Age
Age_M = round(df["Age"].mean())
df_v = pd.pivot_table(df, values=['appl No'], index=['Age'],dropna=False,aggfunc='count')
# sns.lineplot(data=df_v, x="Age", y="appl No",linewidth=2.5).set(title='Age')
# sns.set_style("white")
# plt.grid()
# plt.text(50, 500, f'Mean = {Age_M}', fontsize=14, bbox=dict(boxstyle="round", alpha=0.1))
# plt.gcf()
# plt.savefig(graph_v+'Age.jpg')

In [243]:
df_v = pd.pivot_table(df, values=['appl No'], index=['gender'],aggfunc='count',dropna = False)
df_v.reset_index(inplace =True)
# sns.barplot(data=df_v, x="gender", y="appl No").set(title='gender')
# sns.set_style("white")
# plt.gcf()
# plt.savefig(graph_v+'gender.jpg')